{% extends "base.html" %}

{% block title %} Your Profile {% endblock %}

{% block content %}	   

<div id="profile">

<h4>Basic Info</h4>

<table id="basic_info">
  <tbody>
    <tr>
      <th>Username:</th><td>{{ user.username }}</td>
    </tr>
    <tr>
      <th>First name:</th><td>{{ user.first_name }}</td>
    </tr>
    <tr>
      <th>Last name:</th><td>{{ user.last_name }}</td>
    </tr>
    <tr>
      <th>Email:</th><td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>

<h4>Recent Routes</h4><a href="/account/routes">View all routes</a>
<table id="recent_routes">
  <thead>
    <th>ID</th>
    <th>Created on</th>
    <th>Locations</th>
    <th>Rating</th>
    <th>Action</th>
    <th>Share</th>
  </thead>
  <tbody>
    {% for route in routes %}
    <tr class="{% cycle 'even' 'odd' %}">
      <td>{{ route.id }}</td>
      <td>{{ route.createdate }}</td>
      <td>{% for location in route.routelocation_set.all %}
              <div>{{ location.location}}</div>
           {% endfor %}
      </td>
      <td>

		<input type="radio" name="ratings-{{ route.id }}" value="1" class="star" disabled="disabled">
		<input type="radio" name="ratings-{{ route.id }}" value="2" class="star" disabled="disabled">
		<input type="radio" name="ratings-{{ route.id }}" value="3" class="star" disabled="disabled">
		<input type="radio" name="ratings-{{ route.id }}" value="4" class="star" disabled="disabled">
		<input type="radio" name="ratings-{{ route.id }}" value="5" class="star" disabled="disabled">

		<script>
			var string = "{{ route.id|escapejs }}";
			var newstring = "ratings-" + string;
			$('input:radio[name='+newstring+'][value={{route.rating|escapejs}}]').attr('checked', true);
		</script>
      <td><a href="/route/{{ route.id }}">View</a>
          <a href="/route/remove/{{ route.id }}" onclick="return confirm('Are you sure you want to remove this route?');">Remove</a>
      </td>
      <td>
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://{{ domain }}/route/{{ route.id }}" data-text="Check out my bike route!" data-count="none">Tweet</a>
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fexample.com%2Froute%2F{{ route.id }}&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px;" allowTransparency="true"></iframe>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}
