{% extends "base.html" %}

{% block title %} Saved Routes {% endblock %}

{% block content %}	   

<div id="routes">

<h4>Saved Routes</h4>

<div class="pagination">
  {% if routes.has_previous %}
  <a class="prev" href="/account/routes/{{ routes.previous_page_number }}">Previous</a>
  {% endif %}
  {% if routes.has_next %}
  <a class="next" href="/account/routes/{{ routes.next_page_number }}">Next</a>
  {% endif %}
</div>
<table id="saved_routes">
  <thead>
    <th>ID</th>
    <th>Created on</th>
    <th>Locations</th>
    <th>Rating</th>
    <th></th>
  </thead>
  <tbody>
    {% for route in routes.object_list %}
    <tr class="{% cycle 'even' 'odd' %}">
      <td>{{ route.id }}</td>
      <td>{{ route.createdate }}</td>
      <td>{% for location in route.routelocation_set.all %}
              <div>{{ location.location}}</div>
           {% endfor %}
      </td>
      <td>{{ route.rating }}</td>
      <td><a href="/route/{{ route.id }}">View</a>
          <a href="/route/remove/{{ route.id }}">Remove</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}
