{% extends "base.html" %}

{% block title %} Saved Routes {% endblock %}

{% block content %}	   

<div id="routes">

<h4>Saved Routes</h4>

<div class="pagination">
  {% if routes.has_previous %}
  <a class="prev" href="/account/routes/{{ routes.previous_page_number }}">Previous</a>
  {% endif %}
  {% if routes.has_next %}
  <a class="next" href="/account/routes/{{ routes.next_page_number }}">Next</a>
  {% endif %}
</div>
<table id="saved_routes">
  <thead>
    <th>ID</th>
    <th>Created on</th>
    <th>Locations</th>
    <th>Rating</th>
    <th>Action</th>
    <th>Share</th>
	<th></th>
  </thead>
  <tbody>
    {% for route in routes.object_list %}
    <tr class="{% cycle 'even' 'odd' %}">
      <td>{{ route.id }}</td>
      <td>{{ route.createdate }}</td>
      <td>{% for location in route.routelocation_set.all %}
              <div>{{ location.location}}</div>
           {% endfor %}
      </td>
     <td>
		
		<input type="radio" name="ratings-{{ route.id }}" value="1" class="star" disabled="disabled">
		<input type="radio" name="ratings-{{ route.id }}" value="2" class="star" disabled="disabled">
		<input type="radio" name="ratings-{{ route.id }}" value="3" class="star" disabled="disabled">
		<input type="radio" name="ratings-{{ route.id }}" value="4" class="star" disabled="disabled">
		<input type="radio" name="ratings-{{ route.id }}" value="5" class="star" disabled="disabled">

		<script>
			var string = "{{ route.id|escapejs }}";
			var newstring = "ratings-" + string;
			$('input:radio[name='+newstring+'][value={{route.rating|escapejs}}]').attr('checked', true);
		</script>
	</td>
      <td><a href="/route/{{ route.id }}">View</a>
          <a href="/route/remove/{{ route.id }}" onclick="return confirm('Are you sure you want to remove this route?');">Remove</a>
      </td>
      <td>
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://{{ domain }}/route/{{ route.id }}" data-text="Check out my bike route!" data-count="none">Tweet</a>
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fexample.com%2Froute%2F{{ route.id }}&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px;" allowTransparency="true"></iframe>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}
