/*html {
    height: 100%;
}
body {
    font-family: "Georgia";
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#header {
    height: 75px;
}

#left {
    width: 150px;
    height: 600px;
    float: left;
    margin-right: 10px;
}*/

#map_canvas {
    height: 600px;
}

.hover_cursor {
    cursor: pointer;
	color: blue;
}

/*div#find_buttons span {
    float:left;
    margin-left: 10px;
}

div#find_buttons input {
    float:right;
}

div#account_create_container {
    width: 410px;
    margin: 50px auto 0px auto;
}

form#account_create {
    width: 410px;
}

form#account_create label {
    width: 200px;
    display: inline-block;
    font-size: 1.3em;
    color: black;
}

form#account_create p input {
    width: 200px;
}

form#account_create p {
    font-size: 0.75em;
    color: blue;
}

form#account_create ul.errorlist li {
    font-size: 0.8em;
    color: red;
}

*/