/* @override http://polutropon.com:8001/static/style.css */

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
#wrapper {
	min-height: 100%;
	height: auto;
    height: 100%;
    margin: 0 auto -100px;
}

#header {
	background: #eee;
	height:100px;
}

#sidebar {
	background: #feffff;
	padding: 10px;
	float: left;
	width: 30%;
	height:auto;
	height:100%;
}

#map_canvas {
	background: #000;
	position: absolute;
	left: 30%;
	right: 0px;
	bottom: 0px;
	top: 100px;
}


.hover_cursor {
    cursor: pointer;
	color: blue;
}

#save_route {
    display: none;
}

#footer, #push {
background: #df781c;
height:100px;
}
/*div#find_buttons span {
    float:left;
    margin-left: 10px;
}

div#find_buttons input {
    float:right;
}

div#account_create_container {
    width: 410px;
    margin: 50px auto 0px auto;
}

form#account_create {
    width: 410px;
}

form#account_create label {
    width: 200px;
    display: inline-block;
    font-size: 1.3em;
    color: black;
}

form#account_create p input {
    width: 200px;
}

form#account_create p {
    font-size: 0.75em;
    color: blue;
}

form#account_create ul.errorlist li {
    font-size: 0.8em;
    color: red;
}

*/