/* @override http://polutropon.com:8001/static/style.css */

html {
	height: 100%
	}

body {
	height: 100%;
	padding: 0px;
	margin:0px;
	background-color: #f4f4f4;
	font-family: arial, verdana, sans-serif;
	}
	

#header {
	background-coloround: #eee;
	height:100px;
	margin-bottom: 10px;
	padding: 10px 10px 0 10px;
}

a.logo {
    text-decoration: none;
    font-family: "HelveticaNeue-Light";
    color: #00548e;
    
}

#nav {
	margin: 0px;
	margin-left: -46px;
	margin-right: -40px;
	padding: 10px 0 0 46px;
	list-style: none;
	float: left;
	width: 100%;
}

#nav li {
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
	padding-right: 10px;	
	font-weight: 600;
	color: #00548e;
	font-size: 1.2em;
}

#nav li a {
	color: #00548e;
}

#sidebar {
	float: left;
	width: 28%;
	background-color: #eaeaea;
	margin-bottom: 5px;
	margin-left: 1%;
	overflow: auto;
	height: 70%;
	padding: 0 10px 0 10px;
}

#sidebar h4 {
}

#sidebar input.find_input {
	width: 97%;
	font-size: 14px;
	font-family: Helvetica;
	padding: 2px;
}

#login_error {
	background-color: #cd0711;
	color: #fff;
	border: 1px solid #8d0208;
}

#login_success {
	background-color: #1fbb14;
	border: 1px solid #0c6606;
	color: #fff;
}

#save_result p {
	margin: 5px;
	font-size: 1.1em;
	font-weight: 600;
}

#map_canvas {
	float: left;
	width: 67%;
	height: 70%;
	margin-left: 1%;
	margin-bottom: 10px;
}

#footer{
	background: #eaeaea;
	clear: both;
	height: 50px;
	margin-top: 10px;
	}


/* My Comment */


.hover_cursor {
    cursor: pointer;
	color: blue;
}

#save_route {
    display: none;
}

#profile, #routes {
    margin: 10px;
}

#profile h4, #routes h4{
    background-color: #00b358;
    border-bottom: 3px solid #007439;
}

table#basic_info td {
    padding: 0 5px 0 5px;;
}
table#basic_info th{
    padding: 0 5px 0 5px;;
    font-weight: bold;
}

table#recent_routes, table#saved_routes {
    width: 800px;
}

tr.even {
    background-color: #C6D7C8;
}

div.pagination {
    width: 800px;
}

div.pagination a.previous {
    float: left;
}

div.pagination a.next {
    float: right;
}

img.dir_marker {
    width: 12px;
    height: 20px;
    padding-right: 5px;
}