<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="/static/reset.css" type="text/css">
	<link rel="stylesheet" href="/static/text.css" type="text/css">
	<link rel="stylesheet" href="/static/960.css" type="text/css">
	<title>The page!</title>
</head>
<body>
	<div class="container_16">
		<div class="grid_12">
			{% if user.is_authenticated %}
			<h1>Hello, {{ user.first_name }}!</h1>
		</div>
		
		<div class="grid_4">
			<p>
				<a href="/account/logout">Log out of your account</a>
			</p>
			{% else %}
			<p>
				<a href="/account/create?next=/">Create an account</a>
			</p>
			<p>
				<a href="/account/login?next=/">Log in to your account</a>
			</p>
			{% endif %}
			<p>
		</div>
		
		<!-- end .grid_16 -->
		<div class="clear"></div>
		
		
		<form action="/route/add/" method="post">{% csrf_token %}
		<textarea name="route">{"a": 123}</textarea>
		<input type="submit" value="add route">
		</form>
		</p>
		<h4>Saved routes</h4>
		<table>
		  <tr>
		    <td>Created by</td>
		    <td>Created on</td>
		    <td>Rating</td>
		    <td>Route</td>
		  </tr>
		{% for route in routes %}
		  <tr>
		    <td>{{ route.createuser }}</td>
		    <td>{{ route.createdate }}</td>
		    <td>{{ route.rating }}</td>
		    <td>{{ route.route }}</td>
		    <td><a href="/route/{{ route.id }}">View</a></td>
		  </tr>
		{% endfor %}
		</table>
	</div>
</body>
