{% extends "base.html" %}

{% block embeds %}
<script src="/static/map.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
{% if saved_route %}
var saved_route = {{ saved_route|safe }};
{% else %}
var saved_route = null;
{% endif %}

</script>
{% endblock %}

{% block title %} Map view {% endblock %}

{% block content %}	   
	<div id="map_canvas"></div>
	
	<div id="sidebar">   
	   <h4>Search for a route</h4>

           {% if saved_locations %}
	       {% for location in saved_locations %}
	       <input type="text" class="find_input" value="{{ location }}"/>
               {% endfor %}
           {% else %}
  	       <input type="text" class="find_input"/>
           {% endif %}
	  	<div id="find_buttons">
		  <div id ="add_destination"><p>Add Destination</p></div>
                  <div>
                    <input type="checkbox" id="split_30" />
                    <label for="split_30">Keep bike segments under 30 minutes</label>
                    </div>
		  <input type="button" value="Find" id="find_button" />
		  <input type="button" value="Get current location" id="locate_button" />
		  <div id ="save_route"><p>Save Route</p></div>
		</div>
		
		<div id="save_result">
			<div id="login_error" style="display: none">
				<p>Sorry, but you are currently not logged in.</p>
				<p>You can either <a href="/account/create?next=/" class="box">create a new account</a>, or <a href="/account/login?next=/" class="box"title="Creating a user">log into</a> an existing account.</p>
			</div>
		
		
			<div id="login_success" style="display: none">
				<p>Successfully saved!</p>
			</div>
		
			<div id="rating" style="display: none">
				<input type="radio" name="ratings" value="1" class="star">
				<input type="radio" name="ratings" value="2" class="star">
				<input type="radio" name="ratings" value="3" class="star" checked>
				<input type="radio" name="ratings" value="4" class="star">
				<input type="radio" name="ratings" value="5" class="star">
			</div>
		</div>
		
		<br />
        
		
		<div id="directions" style="display: none">Step-by-step Directions</div>
		
	
	</div>
	
	
	<div id="footer">footer here!</div>
	
	
</div>
		<!-- end .grid_16 -->

{% endblock %}
